/* Leandro Silva | Grafluxe */

#pylint-panel {
    background-color: #eee;
    font-size: 14px;
    -webkit-user-select: initial;
}

#pylint-panel a {
    text-decoration: none;
    cursor: default;
}

#pylint-top {
    background: linear-gradient(to bottom, #a6a6a6 50%, #a0a0a0 50%);
    padding: 7px 15px;
    color: #fff;
    font-weight: bold;
}

#pylint-top > div {
    display: inline-block;
    width: calc(100% - 50px);
}

#pylint-close-btn {
    float: right;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;
}

#pylint-close-btn:hover {
    font-weight: bold;
}

#pylint-body {
    background-color: #f6f6f6;
    overflow: auto;
    height: calc(100% - 30px);
    font-family: "SourceCodePro-Medium", ＭＳ ゴシック, "MS Gothic", monospace;
    font-size: 13px;
}

#pylint-body > ul {
    list-style: none;
    margin: 0;
}

#pylint-body > ul > li {
    position: relative;
}

#pylint-body > ul > li > .pylint-err {
    margin: 0;
    padding: 5px 30px 5px 15px;
    width: calc(100% - 45px);
    display: inline-block;
    color: #333;
}

#pylint-body > ul > li > .pylint-err:hover {
    color: #000;
    background-color: #fff;
}

#pylint-body > ul > li:nth-child(even) {
    background-color: #ececec;
}

#pylint-body > ul > li > .pylint-more {
     position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -6px;
    background-color: #c6c6c6;
    text-align: center;
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

#pylint-body > ul > li > .pylint-more > span {
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -2px;
    display: block;
}

#pylint-body > ul > li > .pylint-more:hover {
    background-color: #777;
}
